.vscode/
.clangd
.clang-tidy
.cache
.idea/
.gdbinit
.gdbbinit
build/
lib/
bin/
./build.sh
./boot.sh
.DS_STORE

!.gitkeep

# Specific stuff
create_compileJson.sh
compile_commands.json
cmake-build-debug/
